<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
    </div>
    <ul>
        {% for post in posts %}
        <li>{{ post }}</li>
        <p>{{ post.content}}</p>
        <p>{{ post.author}}</p>
        <p>{{ post.date_posted|date:"F d, Y"}}</p>
        {% endfor %}
    </ul>
</body>

</html>